version: "5.2"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - db-data:/app/db
    command: python manage.py runserver 0.0.0.0:8000

volumes:
  db-data: